
<header>
    <h1 class="parking-app">PARKING APP</h1>
    <h1 class="estado">ESTADO COCHERAS</h1>
    <h1 class="estado">REPORTES</h1>
    <a href=""><img src="imagenes/logo.png" alt="logo" class="logo"></a>
</header>
  
<app-header></app-header>
<main>
  <table class="tabla">
      <thead>
        <tr>
          <th>Nro</th>
          <th>Mes</th>
          <th>Usos</th>
          <th>Cobrado</th>
        </tr>
      </thead>
      @for (reporte of reporteEstacionamientos; track reporte.nro){
        <div>
            <div> {{reporte.nro}} </div>
            <div> {{reporte.mes}} </div>
            <div> {{reporte.usos}} </div>
            <div> {{reporte.cobrado}} </div>
        }
    </table> 
  </main>