
<header>
    <h1 class="parking-app">PARKING APP</h1>
    <h1 class="estado">ESTADO COCHERAS</h1>
    <h1 class="estado">REPORTES</h1>
    <a href=""><img src="imagenes/logo.png" alt="logo" class="logo"></a>
</header>
  
<main>
  <table class="tabla">
    <thead>
      <tr>
        <th>Nro</th>
        <th>Mes</th>
        <th>Usos</th>
        <th>Cobrado</th>
      </tr>
    </thead>
    @for (linea of reporte; track linea.nro){
    <tr>
      <td> {{linea.nro}} </td>
      <td> {{linea.mes}} </td>
      <td> {{linea.usos}} </td>
      <td> {{linea.cobradoFormatted}} </td>
    </tr>
    }
  </table> 
  </main>
